.footer{
    padding: 1rem;
    background-color: lighten($b,20);
    color: $w;
    &_title{
        margin: initial;
    }
    &_title{
        font-family: 'shrikhand';
        font-size: 1.3rem;
    }
    &_wrapper{
        margin: 1rem 0;
        padding: initial;
        &_item{
            list-style-type: none;
            i{
                margin-right: 0.5rem;
            }
        }
    }
}